@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  color:rgb(230, 195, 18);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("image/TTTbg.jpg");

}
  

.container{
  display: grid;
  grid-template-columns: repeat(3,auto);
}

.box{
  width: 100px;
  height: 100px;
  border: 4px solid rgb(228, 82, 92);
  box-shadow: 0 0 0 2px #d84865;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  font-size: 25px;
}

#status{
  padding: 20px;
  font-size: 25px;
  font-weight: 500;
}

button{
  width: 150px;
  height: 40px;
  font-size: 18px;
  color:white;
  background-color: #ff4757;
  border: none;
  border-radius: 3px;
}

.win{
    animation: winAnimation ease-in-out 1s infinite;
}

@keyframes winAnimation {
  0%{background-color: #4b7093;}
  100%{background-color: #3f2feb;}
  
}
